EXPO_PUBLIC_BACKEND_BASE_URL=your-backend-url-here
EXPO_PUBLIC_API_BASE_URL=your-api-url-here/api
EXPO_PUBLIC_ASSETS_BASE_URL=your-assets-url-here
EXPO_PUBLIC_UPLOADS_VIDEOS_PATH=/uploads/videos
EXPO_PUBLIC_UPLOADS_DOCUMENTS_PATH=/uploads/documents
EXPO_PUBLIC_UPLOADS_IMAGES_PATH=/uploads/images
EXPO_PUBLIC_WELTEL_WEB_URL=https://rw-chw1.weltelhealth.net
